@font-face {
    font-weight: 400;
    font-family: "Digital";
    font-style: normal;
    src: url('./assets/fonts/digital-7/digital-7 (mono).ttf');
}

@font-face {
    font-weight: 400;
    font-family: "Erica Type";
    font-style: normal;
    src: url('./assets/fonts/erica-type/erica-type.ttf');
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}